
body{
    margin: 4rem auto;
    text-align: center;
}

.button{
   
    padding: 3rem;
    border: 1px solid #000;
    margin-right: 4rem;
    gap: 8px;
    width: 1rem;
}
#red{
    background: red;

}
#green{
    background: green;
}

#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
#orange{
    background: orange;
}